*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Secrets Properties
secrets.defaults.properties

# Keystore files
keystore.properties
/release
*.jks